@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

:root {
    --primary: #ffff;
    --bg: #FF77B7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}


.container {
    position: relative;
    background:
        linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 119, 183, 0.7)),
        url('img/desain.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 5px;
    right: 150px;
    width: 80%;
    height: 12%;
    z-index: 9999;
    backdrop-filter: blur(5px);
}

.navbar-extra {
    display: flex;
    align-items: center;
}

.navbar-extra a {
    color: rgb(255, 119, 183);
    margin: 5.5px;
    justify-content: center;
}

.navbar .navbar-extra a:hover {
    color: #C13584;
}

.logo img {
    width: 300px;
    height: 200px;
    margin-top: 80px;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 6.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #FF77B7;
    font-size: 1.6rem;
    background-color: #bd1875;
    border-radius: 7px;

}

nav ul li a:hover {
    color: #C13584;
    background-color: #FF77B7;

}

.navbar.scrolled {
    padding: 10px 40px;
    /* Mengecilkan padding saat scroll */
    transform: translateY(-10px);
    /* Menggeser header ke atas */
    background: rgba(255, 255, 255, 0.8);
    /* Mengubah background agar lebih solid saat scroll */
}

.navbar.hide {
    transform: translateY(-100%);
    /* Menggeser header keluar layar */
    opacity: 0;
    /* Menyembunyikan header dengan mengurangi opacity */
}

/* shopping cart */

.shopping-cart {
    position: absolute;
    display: none;
    top: 100%;
    height: 100vh;
    width: 35rem;
    padding: 0 1.5rem;
    background-color: #FF77B7;
    color: #000000;
}

.shopping-cart.active {
    right: -15%;
    display: block;
    transition: 0.5s;
}

/* .shopping-cart .cart-items {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #000000;
}

.shopping-cart img {
    height: 12rem;
    border-radius: 50%;
}

.shopping-cart h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
    font-size: 1rem;

}

.shopping-cart .remove {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.shopping-cart .remove:hover {
    color: #C13584;
} */

.cart ul {
    position: relative;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    padding-bottom: 25px;
}

button {
    background-color: #f70cb0;
    border-radius: 8px;
    color: #ffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
}

.cart p {
    font-weight: bold;
}

.shopping-cart-icon {
    position: relative;
}

#cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #C13584;
    color: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: bold;

}


.item-btn {
    margin-left: 5px;
    background-color: red;
    width: 40px;
    height: 30px;
}

/* deskripsi css */

.des {
    margin-top: 200px;
}

/* Produk CSS */

.row {
    display: flex;
    height: 88%;
    align-items: center;
    margin-top: -50px;
}

.col {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 2rem;
    padding: 12em;
    align-items: center;
    justify-content: center;
}

h5 {
    color: #ffff;
}

h5 span {
    color: var(--bg);
}

.harga {
    text-align: center;
    font-size: 1.3rem;
}

.card, img {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1 {
    background-image: url(img/mentai.jpeg);
}

.card2 {
    background-image: url(img/pangsit.jpeg);
}

.card3 {
    background-image: url(img/l.jpg);
}

.card4 {
    background-image: url(img/c.jpg);
}

.card5 {
    background-image: url(img/s.jpeg);
}

.card6 {
    background-image: url(img/m.jpeg);
}

.card7 {
    background-image: url(img/kl.jpg);
}

.card8 {
    background-image: url(img/cabe.jpg);
}

.card:hover {
    transform: translateY(-10px);
}

/* footer */

.footer {
    height: 10vh;
    padding: 20px;
    background: linear-gradient(rgba(255, 119, 183), rgba(255, 255, 255));
    color: var(--bg);
    text-align: center;
    backdrop-filter: blur(5px);
}

.footer p span {
    color: var(--bg);
    font-size: 1.3rem;
}

.ba {
    color: var(--primary);
}

.ig {
    color: #FF77B7;
}

.sosmed {
    list-style: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sosmed a {
    text-decoration: none;
    font-size: 25px;
    color: #FF77B7;
    margin-left: 10px;
}

.sosmed a:hover {
    color: #bd1875;
}

/* alert */
.swal2-container {
    z-index: 9999;
}

.swal1-container {
    z-index: 9999;
}

@media (max-width: 768px) {
    .row {
        margin-top: 20px;
    }

    nav ul li {
        margin-left: 20px;
        font-size: 1.5em;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar .navbar-extra {
        margin-top: 10px;
    }

    .navbar .logo {
        margin-bottom: 10px;
    }

    .col {
        grid-template-columns: 1fr;
        /* Satu kolom */
        padding: 10px;
    }

    .card {
        width: 100%;
        max-width: 150px;
        height: 150px;
        /* Biarkan tinggi menyesuaikan konten */
    }
}

@media (max-width: 480px) {
    .navbar {
        height: fit-content;
        margin-top: -20%;
    }

    .row {
        margin-top: 50px;
    }

    nav ul li {
        font-size: 1.2em;
        margin-top: 10px;
    }

    .card {
        justify-content: center;
        height: 200px;
        width: 150px;
        /* Adjust card height for smaller screens */
    }

    .des {
        font-size: 10px;
        margin-top: 320px;
    }

    .shopping-cart {
        width: 100%;
        /* Lebar cart lebih besar di layar sangat kecil */
        height: fit-content;
    }

    #cart-items {
        flex-direction: column;
        /* Susun item secara vertikal */
        align-items: flex-start;
        /* Rata kiri */
        font-size: 11px;
    }

    .cart-items img {
        width: 180px;
        /* Ukuran gambar lebih kecil */
    }

    .footer, p span {
        height: 1.5vh;
        padding: 7px;
        size: 0.6rem;
        text-align: center;
        color: var(--bg);
    }

    .ba {
        font-size: 20px;
        color: #000000;
    }

    .ba span {
        color: var(--bg);
    }

    footer {
        height: fit-content;
    }
}