@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

:root {
    --primary: #ffff;
    --bg: #FF77B7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}


.container {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 119, 183));
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    height: 12%;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
    margin-right: 60px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    font-size: 2em;
}

nav ul li a {
    text-decoration: none;
    color: #FF77B7;
}

.custom-svg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 32px;
    right: 64px;
    cursor: pointer;
}

.row {
    display: inline-block;
    height: 88%;
    align-items: center;
    
}

.col {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 2rem;
    padding: 12em;
    align-items: center;
    justify-content: flex-start;
}
h5 {
    color: #ffff;
}

h5 span {
    color: var(--bg);
}

.card {
    width: 100%;
    max-width: 200px;
    height: 230px;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1 {
    background-image: url(img/mentai.jpeg);
}

.card2 {
    background-image: url(img/pangsit.jpeg);
}

.card3 {
    background-image: url(img/m.jpeg);
}

.card4 {
    background-image: url(img/s.jpeg);
}

.card:hover {
    transform: translateY(-10px);
}

@media (max-width: 768px) {
    nav ul li {
        margin-left: 20px;
        font-size: 1.5em;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    .col {
        grid-template-columns: 1fr; /* Satu kolom */
        padding: 10px;
    }

    .card {
        width: 100%;
        max-width: 200px;
        height: auto; /* Biarkan tinggi menyesuaikan konten */
    }
}

@media (max-width: 480px) {
    nav ul li {
        font-size: 1.2em;
    }

    .card {
        height: 200px; /* Adjust card height for smaller screens */
    }
}